# Include only files copied by the Dockerfile.
**
!Dockerfile
!pyproject.toml
!README.md
!LICENSE
!versioncheck/
!versioncheck/**
versioncheck/_version.py
versioncheck/**/__pycache__/
versioncheck/**/*.py[cod]
